.nome {
    text-align: center;
    background-color: #e83f15;
    padding: 12px 0;
    display: inline-block;
}
.nome a,
.nome a:visited {
    color: #ffffff;
    text-decoration: none;
}
.titolo {
  font-family: arial;
  margin-left: 3%;
  text-decoration: none;
}
.elenco {
  font-family: arial;
  margin-left: 4%;
  text-decoration: none;
}
