.nome a,
.nome a:visited {
    color: #ffffff;
    background-color: #e83f15;
    text-decoration: none;
}
.titolo {
  font-family: arial;
  margin-left: 3%;
  text-decoration: none;
}
.elenco {
  font-family: arial;
  margin-left: 4%;
  text-decoration: none;
}
