.nome {
  color: white;
  background-color: red;
  font-family: arial;
  text-align: center;
}
.titolo {
  font-family: arial;
  margin-left: 5px;
}
.elenco {
  font-family: arial;
  margin-left: 6px;
}
a {
  hover: gray;
  active: gray;
  visited: white;
}
